*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Lato', sans-serif;
}
body{
    background: rgb(0,150,136); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(0,150,136,1) 15%, rgba(215,219,214,1) 15%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,150,136,1) 15%,rgba(215,219,214,1) 15%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,150,136,1) 15%,rgba(215,219,214,1) 15%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009688', endColorstr='#d7dbd6',GradientType=0 ); /* IE6-9 */
    height: 100vh;
    display: flex;
    align-items: center;
}

.container{
    background-color: #fff;
    height: 95vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
}
    .aside{
        width: 40%;
        height: 100%;
    }
        .aside > div:not(.contatti),
        .main > div:not(.chat),
        /* .main > div:not(.screen-chat), */
        .user-info,
        .contatto-info{
            display: flex;
            align-items: center;
        }
        .user{
            justify-content: space-between;
            height: 65px;
            width: 100%;
            background-color: #eaeaea;
            padding: 5px;
            border-right: 1px solid lightslategray;
        }
            .user-info, .user-info > img,
            .contatto-info, .contatto-info > img{
                height: 100%;
            }
            .user-info > img,
            .contatto-info > img{
                border-radius: 50%;
                margin-right: 5px;
            }
            .user-icons > i,
            .contatto-icons > i{
                color: #b1b1b1;
                margin-right: 10px;
                font-size: 20px;
            }
        .notifiche{
            height: 70px;
            width: 100%;
            padding: 0 15px;
            background-color: #8edafc;
        }
            #bell{
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #f2fbff;
                color: #8edafc;
                font-size: 20px;
                border-radius: 50%;
                height: 50px;
                width: 50px;
            }
            .notifiche-text{
                margin-left: 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
                .notifiche-text > span:last-child{
                    font-size: 12px;
                    color: #b1b1b1;
                    text-decoration: underline;
                }
        .search-bar{
            height: 40px;
            width: 100%;
            padding: 5px;
            background-color: #fafafa;
        }
            .search-bar > i{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 20%;
                height: 100%;
                color: #b1b1b1;
                background-color: #fff;
                border: 1px solid lightslategray;
                border-right: none;
                border-radius: 3px 0px 0px 3px;
                cursor: pointer;
            }
            .search-bar > input{
                width: 100%;
                height: 100%;
                border: none;
                border: 1px solid lightslategray;
                border-radius: 0px 3px 3px 0px;
                padding-left: 5px;
                font-size: 14px;
            }
        .contatti{
            height: calc(100% - 65px - 70px - 40px);
            /* max-height: calc(100% - 65px - 70px - 40px); */
            overflow-y: scroll;
            width: 100%;
            background-color: #fff;
        }
            .contatto{
                display: flex;
                align-items: flex-start;
                height: 70px;
                width: 100%;
                padding: 7px;
                cursor: pointer;
            }
            .selezionato{
                background-color: #e9ebeb;
            }
                .contatto > img{
                    height: 100%;
                    margin-right: 10px;
                    border-radius: 50%;
                }

    .main{
        width: 60%;
        height: 100%;
    }
        .contatto-selezionato{
            justify-content: space-between;
            height: 65px;
            width: 100%;
            padding: 5px;
            background-color: #eaeaea;
        }
            .c-info-text{
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
                .last-access{
                    font-size: 12px;
                    color: #b1b1b1;
                }
        .scrittura{
            height: 50px;
            width: 100%;
            padding: 5px;
            display: flex;
            align-items: center;
            background-color: #f3eeea;
        }
            .scrittura > input{
                width: 80%;
                height: 100%;
                border: none;
                border: 1px solid lightslategray;
                border-radius: 3px; 
                padding-left: 5px;
            }
            .scrittura > i{
                width: 10%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #6b7376;
            }
        #screen-chat{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            height: calc(100% - 50px - 65px);
            width: 100%;
            padding: 0px 40px;
            overflow-y: scroll;
            background-image: url("../img/mine.jpg");
        }
            .mex{
                display: flex;
                flex-direction: column;
                max-width: 65%;
                margin-top: 20px;
                padding: 10px;
            }
            .sent{
                align-self: flex-end;
                border-radius: 15px 15px 0 15px;
                background-color: #d5f9ba;
            }
            .received{
                align-self: flex-start;
                border-radius: 15px 15px 15px 0px;
                background-color: #fff;
            }
                .mex-text{
                    font-size: 14px;
                }
                .mex-date{
                    align-self: flex-end;
                    font-size: 10px;
                    margin-top: 5px;
                    color: #6b7376;
                }
            